.amp-dc-banner {
  @media screen and (max-width: 768px) {
    .amp-dc-banner-info-wrap {
      width: 40%;
      &[data-align='left'] {
        left: 35px;
      }
      &[data-align='right'] {
        right: 35px;
      }
      &.amp-dc-info-bottom {
        position: relative;
        top: 0 !important;
        left: 0 !important;
        right: auto;
        display: block;
        width: 100%;
        text-align: center;
        padding: 0 15px 10px 15px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        .amp-dc-banner-info {
          display: block;
        }
      }
  .amp-dc-banner-header {
    font-size: 10px;
    font-family: sans-serif;
    font-weight: bold;
    color: #000;
  }
    
  .amp-dc-banner-subheader {
    font-size: 20px;
    font-family: serif;
    font-weight: bold;
    margin-top: 2px;
  }

  .amp-dc-banner-description {
    display: none;
  }

  .amp-dc-banner-button {
    font-size: 9px;
    margin-top: 5px;
    display: inline-block;
    min-width: 15%;
    padding: 5px 15px;
    background: #000;
    color: #fff;
    font-weight: bold;
    box-sizing: border-box;
    &.black {
      background: #000;
      color: #fff;
    }
    &.white {
      background: #fff;
      color: #000;
    }

  }    
        
}

  @media screen and (max-width: 480px) {
    .amp-dc-banner-info-wrap {
      width: 80%;
      &[data-align='left'] {
        left: 20px;
      }
      &[data-align='right'] {
        right: 20px;
      }
    }
  .amp-dc-banner-header {
    font-size: 8px;
    font-family: sans-serif;
    font-weight: bold;
    color: #000;
  }
    
  .amp-dc-banner-subheader {
    font-size: 16px;
    font-family: serif;
    font-weight: bold;
    margin-top: 2px;
  }

  .amp-dc-banner-description {
    display: none; 
  }

  .amp-dc-banner-button {
    display: none;   
  }    
  }

}
}